﻿@charset "UTF-8";
body {
  background-color: white; }

header {
  background-color: white;
  height: 20%; }

.button {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: .7em 1.5em;
  /* отступ от текста */ }

.button__other {
  color: white;
  background: magenta;
  border: 1px solid magenta; }
  .button__other:hover {
    background: #aa00aa; }

.button__buy {
  color: blue;
  background: white;
  border: 1px solid blue; }
  .button__buy:hover {
    background: blue;
    color: white; }

.input {
  border: 1px solid #cccccc;
  height: 29px;
  width: 20%;
  color: black;
  font-size: 14px;
  font-family: Tahoma; }

.header__list {
  height: 33px;
  width: 120px; }

.spoiler_body {
  display: none; }

.spoiler_links {
  cursor: pointer; }

TABLE {
  width: 100%;
  background: white;
  color: gray; }

TH {
  background: white;
  text-align: left; }

TD, TH {
  padding: 3px; }

TR {
  border: 1px solid silver; }

.table__line__info {
  background: lavenderblush; }

.table__column1 {
  width: 40%; }

.table__column2 {
  width: 10%; }

.table__column3 {
  width: 10%; }

.table__column4 {
  width: 10%; }

.table__column5 {
  width: 50%; }

.ok {
  border: 1px solid green; }

.error {
  border: 1px solid red; }

.not_defined {
  border: 1px solid gray; }

.table_active-color {
  color: blue; }

.radio {
  color: red; }

.table_little-text {
  font-size: 70%;
  color: gray;
  line-height: 0.3; }

.spoiler {
  display: none; }

#header__list1 {
  margin-left: 30px;
  width: 20%; }

#header__list2 {
  margin-left: -5px;
  width: 20%; }

#header__input {
  width: 10%; }

.input3 {
  margin-left: -5px; }

.input4 {
  margin-left: -5px; }

.input5 {
  margin-left: 30px; }

.input6 {
  width: 10%; }

.input7 {
  margin-left: -5px;
  width: 10%; }

.input8 {
  margin-left: -5px;
  width: 10%; }

.mail {
  margin-left: 30px; }
  
  
